doctype html
html(lang='ru')
    head
        title Page not found
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href=`${baseUrl}css/bootstrap.min.css`)
    body
        h1 Page #{url} not found!