doctype html
html(lang='ru')
    head
        title Электроэнергия
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href=`${baseUrl}css/bootstrap.min.css`)
    body
        h1 Баланс электричество
        table.table.table-primary.table-striped
            thead
                tr
                    each val in header
                        th(scope="col")= val
            tbody
                each row in rows
                    tr
                        each col in row
                            td.border.border-green-600= col